{% extends "tienda/base.html" %}
{% load static %}

{% block main-content %}

<div class="contenedor">
    <h1 class="mt-5">ASESORAMIENTO GYM BRO</h1>
    <h5>Servicio de asesoramiento</h5>
    <p class="m-5">Si desea hacer consultas sobre maquinas, para que funcionan, como funcionan, asesoramiento
        nutricional o training personal.</p>
    <h3>MAQUINAS ASESORAMIENTO</h3>
    <p class="m-5">Si tienes alguna duda sobre que maquina comprar, cual es la mejor opcion para tu caso contactanos</p>
    <h3>NUTRICIONISTA</h3>
    <p class="m-5">Gym bros cuenta con varios nutricionista en nuestro equipo de trabajo no dudes en contactarnos para
        mas información </p>
    <h3>PERSONAL TRAINING</h3>
    <p class="m-5">Gym bros cuenta con varios training personales, ellos los ayudaran con una rutina personalizada
        dependiendo los logros que usted quiera lograr</p>
    <h6>CONTACTO:</h6>
</div>
<div class="text-center mb-5">
    <a href="https://formsubmit.co/el/navoju" target="_blank"><button class="btn btn-primary" type="submit">Formulario de Contacto</button></a>
</div>
<br><br><br>


<link rel="stylesheet" href="{% static 'css/style.css'%}">
{% endblock main-content %}