{% extends "tienda/base.html" %}
{% load static %}

{% block main-content %}

<div class="container my-5">
    <div class="row">
        <div class="col-sm-3">
            <div class="list-group">
                {% for val in nombre %}
                <a href="#" class="list-group-item list-group-item-action" aria-current="true">{{val.nombre}}</a>
                {% endfor %}
            </div>
        </div>
        <div class="col-sm-9"></div>
        <div class="row">
            {% for prod in producto%}
            <div class="col text-center mb-4">
                <a href="{% url 'productodetalle' prod.id_producto%}" class="btn">
                    <div>
                        <img src="{{prod.imagen.url}}" width="300px" height="300px">
                        <div class="fw-bold">{{prod.nombre}}</div>
                        <small class="fw-bold">${{prod.precio}}</small>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock main-content %}