{% extends "tienda/base.html" %}
{% load static %}

{% block main-content %}

<div class="contenedor">
    <h1 class="mt-5">INSTALACIÓN Y MANTENCIÓN DE EQUIPAMIENTO</h1>
    <h5>Servicio de instalación y mantención</h5>
    <p class="m-5">Si desear realizar instalación o mantención de tu equipamiento GymBro no dudes en contactarte con
        nuestros especialistas, GymTecBro, expertos en instalación y mantención de equipamiento deportivo.</p>
    <h3>INSTALACIÓN</h3>
    <p class="m-5">Ofrecen servicios de traslado de gimnasios, armado de maquinas de ejercicios, instalación y despacho
        de todo tipo de equipamiento deportivo.</p>
    <h3>MANTENCIÓN</h3>
    <p class="m-5">Entregamos servicios de mantenimiento preventivo a clientes particulares como también a empresas,
        clubes, condominios, municipalidades, gimnasios, universidades, etc. </p>
    <h3>REPARACIÓN</h3>
    <p class="m-5">Contamos con una gran variedad de repuestos y herramientas para realizar cualquier tipo de reparación
        que se nos presente.</p>
    <h6>CONTACTO:</h6>
</div>
<div class="text-center mb-5">
    <a href="https://formsubmit.co/el/navoju" target="_blank"><button class="btn btn-primary" type="submit">Formulario de Contacto</button></a>
</div>
<br><br><br>

<link rel="stylesheet" href="{% static 'css/style.css'%}">
{% endblock main-content %}