{% extends "tienda/base.html" %}
{% load static %}

{% block main-content %}

<div class="contenedor">
    <h1 class="mt-4">INSTALACIÓN Y MANTENCIÓN DE EQUIPAMIENTO</h1>
</div>
<div class="contenedor">
    <h6>Servicio de instalación y mantención</h6>
</div>
<div class="contenedor">
    <p class="m-5">Si desear realizar instalación o mantención de tu equipamiento GymBro no dudes en contactarte con
        nuestros especialistas, GymTecBro, expertos en instalación y mantención de equipamiento deportivo.</p>
</div>
<div class="contenedor">
    <h3>INSTALACIÓN</h3>
</div>
<div class="contenedor">
    <p class="m-5">Ofrecen servicios de traslado de gimnasios, armado de maquinas de ejercicios, instalación y despacho
        de todo tipo de equipamiento deportivo.</p>
</div>
<div class="contenedor">
    <h3>MANTENCIÓN</h3>
</div>
<div class="contenedor">
    <p class="m-5">Entregamos servicios de mantenimiento preventivo a clientes particulares como también a empresas,
        clubes, condominios, municipalidades, gimnasios, universidades, etc. </p>
</div>
<div class="contenedor">
    <h3>REPARACIÓN</h3>
</div>
<div class="contenedor">
    <p class="m-5">Contamos con una gran variedad de repuestos y herramientas para realizar cualquier tipo de reparación
        que se nos presente.</p>
</div>
<div class="contenedor">
    <h6>CONTACTO:</h6>
</div>
<div class="text-center mb-5">
    <a href="https://formsubmit.co/el/navoju" target="_blank"><button class="btn btn-primary" type="submit">Formulario de Contacto</button></a>
</div>

{% endblock main-content %}