{% extends "tienda/base.html" %}
{% load static %}

{% block main-content %}

<div class="container">
    <div class="row flex justify-content-between">
        <div class="img2 col-lg-5 mt-5">
            <img src="{{producto.imagen.url}}"
                class="imagen col-xs-6 col-sm-12 col-lg-12 mt-3 text-sm-center w-100 h-100" alt="">
        </div>
        <div class="productodetalle col-lg-5 mt-5">
            <h1 style="font-size: 45px;">{{producto.nombre}}</h1>
            <h5 class="fw-bold">${{producto.precio}}</h5>
            <br><br>
            <h5>DESCRIPCIÓN</h5>
            <ul class="fs-5">
                <li>{{producto.desc}}</li>
            </ul>
                <form action="/add-to-cart" class="d-inline">
                    <input type="hidden" name="prod_id" value="{{producto.id_producto}}">
                    <button type="submit" class="btn btn-primary shadow px-5 py-2">Añadir al carro</button>
                </form>
                <a href="{% url 'checkout' %}" class="btn btn-warning shadow px-5 py-2 ms-4">Comprar Ahora</a>
        </div>
    </div>
</div>

{% endblock main-content %}