.fuente {
  font-family: "Anton", sans-serif;
}

.c-item {
  height: 480px;
}

.c-img {
  height: 100%;
  object-fit: cover;
  filter: brightness(0.6);
}

.nav-link:hover {
  color: white !important;
}

.nav-link {
  transition: all 0.2s;
}

.nav-link:hover {
  text-decoration: underline;
  /*border-bottom: 2px solid white;*/
}

.card:hover {
  transform: scale(1.04);
}

.card {
  height: -100;
}