.logo-img {
  width: 150px;
}

.fuente {
  font-family: "Anton", sans-serif;
  font-size: 25px;
}

.footer {
  position: relative;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

footer {
  margin-top: auto;
}

.micarrito {
  width: 30px;
}

col {
  display: flex;
  align-items: center;
}

.contenedor {
  text-align: center;
}

.c-item {
  height: 480px;
}

.c-img {
  height: 100%;
  object-fit: cover;
  filter: brightness(0.6);
}

.nav-link:hover {
  color: white !important;
}

.nav-link {
  transition: all 0.2s;
}

.nav-link:hover {
  text-decoration: underline;
  /*border-bottom: 2px solid white;*/
}

.card:hover {
  transform: scale(1.04);
}

.card {
  height: -100;
}

.producto-cuadro {
  position: relative;
}

.zoom-container {
  overflow: hidden;
}

.zoom-image {
  transition: transform 0.3s ease;
}

.zoom-image:hover {
  transform: scale(0.9);
  /* Ajusta el valor de "scale" según tu preferencia para el nivel de zoom */
  z-index: 1; /* Asegura que la imagen ampliada esté por encima del contenido */
}

/* Agrega estilos para el nombre del producto */
.producto-cuadro .fw-bold {
  position: relative;
  z-index: 2; /* Asegura que el nombre del producto esté por encima de la imagen ampliada */
}

